.catalogue-title {
	font-family: "frankfurter-r";
	text-align: center;
  font-size: 50px;
  background: linear-gradient(60deg, $blue, $pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: $blue;
  display: table;
  margin: 20px auto;	
}


.catalogue__item {
	transition: 0.5s;
	height: 365px;
	overflow: hidden !important;
	border-radius: $border-radius;
		&.-palegreen {
			background-color: $palegreen;
		}
		
		&.-palepink {
			background-color: $palepink;
		}
		
		&.-blue {
			background-color: lighten($blue, 10%);
		}					
}

.-whitebg{
	height: 365px;
	background-color: transparent;
	transition: 0.5s;
	z-index: 80;
	border-radius: 25px;
}

.catalogue__name {
	font-family: "comfortaa-b";
	color: $grey;
	margin-bottom: 20px;
}

.catalogue__size,
.catalogue__weight {
	font-family: "comfortaa-r";
	color: $grey;
	font-size: 20px;
	margin-bottom: 0 !important;
}

.catalogue__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: 0.5s;
	height: 365px;
	padding: 30px;
	z-index: 100;
	transform: translateX(-50%);
	border-radius: $border-radius;
}

.catalogue__item:hover .catalogue__info {
	transform: translatey(-100%);
}

.catalogue__item:hover  .-whitebg {
	background-color: rgba(255,255,255, 0.9);
}

.catalogue__img {
	z-index: 60;
}

.catalogue__btn {
	cursor: pointer;
	margin-top: 20px;
	font-family: "comfortaa-r";
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: $blue-btn;
	border: none;
	color: $white;
	width: 250px;
	outline: 0 none !important;
	border-radius: $border-radius2x;
	box-shadow: 0 3px 0 #0d41fb;
	transition: .3s;
}

.catalogue__btn:active {
	transform: translateY(2px);
	box-shadow: none;
}


