.features___text {
	margin-top: 20px;
	text-align: center;
	font-family: 'comfortaa-r';
	font-size: 24px;
}

.features__img__container {
	height: 190px;
}

.features__img {
	display: block;
    margin: 0 auto;
}

.features__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}