.panel__text {
	font-family: "frankfurter-r";
	color: $white;
}

.panel__btn {
	margin-top: 30px;
	font-family: "comfortaa-r";
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: $blue-btn;
	border: none;
	color: $white;
	outline: 0 none !important;
	border-radius: $border-radius2x;
	box-shadow: 0 3px 0 #0d41fb;
	transition: .3s;
}

.panel__btn:active {
	transform: translateY(2px);
	box-shadow: none;
}

.img__raindrop {
	background-color: $white;
	position: absolute;
	bottom: -106px;
	left: 0;

} 