.section {
	position: relative;
	
	&.-section-features {
		display: flex;
		align-items: center;
		min-height: 50vh;
	}

	&.-section-catalogue {
		height: 85vh;
	}

	&.-section-main {
		min-height: 85vh;
		position: relative;
		background: linear-gradient(60deg, $blue, $blue, $pink, $pink);
		border-radius: $border-radius;
		margin: 30px;
		display: flex;
		align-items: center;
	}	
}

.section__content {
	margin-top: 30px;
	display: flex;
	align-items: center;
}
