.section {
	position: relative;
	
	&.-section-features {
		display: flex;
		align-items: center;
		min-height: 50vh;
	}

	&.-section-catalogue {
		height: 90vh;
		margin-bottom: 200px;
	}

	&.-section-main {
		min-height: 85vh;
		position: relative;
		background: linear-gradient(60deg, $blue, $blue, $pink, $pink);
		border-radius: $border-radius;
		margin: 30px;
		display: flex;
		align-items: center;
	}
	&.-section-clean {
		position: relative;
		margin: 30px;
		height: 700px;
		background: linear-gradient(180deg, $purple, $purple, $purple, $lightblue);
		border-radius: $border-radius;
	}
}

.section__content {
	margin-top: 30px;
	display: flex;
	align-items: center;
	height: 100%;
}
