-
	var rows = [
		[
			{
				pic: "./assets/img/card_bouquet2.png",
				customClass: '-palegreen',
				size: 'col-md-6',
				name: 'Гармоника'
			},
			{
				pic: "./assets/img/card_bouquet6.png",
				customClass: '-blue',
				size: 'col-md-6',
				name: 'Гармоника'
			}			
		],
		[
			{
				pic: "./assets/img/card_bouquet1.png",
				customClass: '-palepink',
				size: 'col-md-6',
				name: 'Гармоника'
			},
			{
				pic: "./assets/img/card_bouquet7.png",
				customClass: '-palepink',
				size: 'col-md-6',
				name: 'Гармоника'
			}
		]
		// [
		// 	{
		// 		pic: "./assets/img/card_bouquet1.png",
		// 		customClass: '-palepink',
		// 		size: 'col-md-4',
		// 		name: 'Гармоника'
		// 	},
		// 	{
		// 		pic: "./assets/img/card_bouquet7.png",
		// 		customClass: '-palepink',
		// 		size: 'col-md-4',
		// 		name: 'Гармоника'
		// 	},
		// 	{
		// 		pic: "./assets/img/card_bouquet8.png",
		// 		customClass: '-palepink',
		// 		size: 'col-md-4',
		// 		name: 'Гармоника'
		// 	}
		// ]
	]


section.section.-section-catalogue
	.container
		h1.catalogue-title Наша продукция
		for row in rows
			.row.section__content
				for item in row
					div(class= item.size)
						.catalogue__item(class= item.customClass)
							.-whitebg
								img_container
									img.catalogue__img(src= item.pic)
								.catalogue__info
									h2.catalogue__name Букет Гармоника
									p.catalogue__size Размер: средний(Диаметр - 27 см).
									p.catalogue__weight Масса: 500 гр. Размеры указаны стандартные, мы можем собрать букет исходя из ваших пожеланий
									button.catalogue__btn Заказать за 2000