section.section.-section-clean
    .container
        .row.section__content
            .clean__container
                .text__container
                    h1 Соблюдаем все санитарные нормы
                    p Букеты собираются в перчатках и упаковываются в плёнку