section.section.-section-main
	include header.pug
	.container
		.row.flex-row.section__content
			.panel__container
				h1.panel__text Сладкие воздушные букеты из маршмэллоу и мармеладок
				button.panel__btn Купить букет
			.img__container
				img.img__bunch(src="./assets/img/card_bouquet5.png")
			img.img__raindrop(src="./assets/img/1440_1.png")
