@font-face {
	font-family: "comfortaa-b"; 
    src: url("../fonts/Comfortaa-Bold.ttf"); 
}

@font-face {
	font-family: "comfortaa-r"; 
    src: url("../fonts/Comfortaa-Regular.ttf"); 
}

@font-face {
	font-family: "frankfurter-r"; 
    src: url("../fonts/Frankfurter_Russia.otf"); 
}