@font-face {
	font-family: "comfortaa-b"; 
    src: url('./assets/fonts/Comfortaa-Bold.ttf'); 
}

@font-face {
	font-family: "comfortaa-r"; 
    src: url('./assets/fonts/Comfortaa-Regular.ttf'); 
}

@font-face {
	font-family: "frankfurter-r"; 
    src: url('./assets/fonts/Frankfurter_Russia.otf'); 
}