$blue: #66c4fc;
$lightblue: #c6e4f8;
$pink: #ec9ffc;
$white: #ffffff;
$grey: #7a7375;
$purple: #e1d4ed;
$palegreen: #c3e8da;
$palepink: #f4e8ec;

$blue-dark: #1994fb;
$blue-darkest: #0d41fb;
$blue-btn: #1994fb;

$border-radius: 25px;
$border-radius2x: 50px;